p {
  color: blue;
  font: 28px sans-serif bold;
  background-color: #dddddd;
  text-align: center;
  font-weight: strong;
}

.first

#container {
   height: 500px;
   width: 500px;
   background-color: gray;
}
#square1 {
   background-color: red;
   height: 100px;
   width: 100px;
}
#square2 {
   background-color: blue;
   height: 100px;
   width: 100px;
}
#square3 {
   background-color: green;
   height: 100px;
   width: 100px;
}
#square4 {
   background-color: black;
   height: 100px;
   width: 100px;
}
